.button {
  margin: 30px;
  background: #8fadf9;
  color: white;
  border-radius: 12px;
  border: none;
  width: 130px;
  height: 30px;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: plum 2px 2px 5px;
  color: yellow;
}
