/* .detail {
  background-color: #9790f2;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 50px;
  margin: 10rem auto 0;
  justify-content: center;
  max-width: 400px;
  min-width: 230px;
  background-color: #ffe1f6;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.container:hover {
  box-shadow: 0px 6px 10px rgba(46, 81, 253, 0.4);
  transform: scale(1.01);
}

.detail__card {
  list-style-type: "-  ";
  margin: 0 auto;
  padding: 0;
  color: #d3b5e5;
}

.detail__card_item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 5px;
  color: rgb(215, 126, 215);
}

.detail__card_item_span {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0 0 0 10px;
}

@media screen and (max-width: 1279px) {
  .container {
    padding: 35px 20px;
    max-width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .detail__card_item {
    font-size: 12px;
    line-height: 15px;
  }

  .detail__card_item_span {
    font-size: 12px;
    line-height: 15px;
  }

  .container {
    max-width: 240px;
    padding: 35px 20px;
    margin: 3rem auto 15px;
  }
}
